body, body a, body th, body tr {
  font-size: 12px;
}
.sidebar .sidebar-menu .treeview-menu > li > a {
  font-size: 1em;
}
.enrolment td input, .enrolment th input, .enrolment input {
  padding-left: 2px;
  padding-right: 2px;
}
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DBF9E5;
  border: 1px solid #D6E9C6;
}

input.parsley-error.form-control:focus,
input.parsley-error.form-control,
input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color:#F8DAD3;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
.list1 ul.treeview-menu>li>a,
.list1 ul.treeview-menu>li.particulars-one>a {
  color: #000;
}
.list1 .treeview-menu>li {
  padding : 5px;
}
.list1 ul.treeview-menu>li>a:hover {
  color: #000;
  text-decoration: underline;
}
tr.S, td.S {
  background-color: #dff0d8;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 4px;
}

.right-side > .content-header > h1 {
  font-size: 18px;
}
