body {
  background-color:#fff;
  background-image:url('../images/bg2.png');
}
.modal-dialog.login {
  width:500px;
}
.modal-content.login-box-green {
  overflow:hidden;
}
.modal-content.login-box-green .modal-body, .modal-content.login-box-green .modal-header{
  background: #f39c12;
  border: 0;
}
.modal-content.login-box-green footer{
  background: #444;
  background-image:  url(../images/logo-outline.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  height: 120px;
  padding: 25px 0;
}
.modal-content.login-box-green label {
  color: #fff;
}
.modal-content.login-box-green footer button{
  background: #f39c12;
  border: 0;
  color: #fff;
  border-radius: 2px;
  padding: 10px 25px;
}
.modal-content.login-box-green input {
  color: #fff;
  border: 0;
  background-color:  #cf850f;
  border-radius: 1px;
}
.modal-content.login-box-green .form-control::-moz-placeholder
{
  color: #dfdfdf;
  opacity: 1;
}
.modal-content.login-box-green .form-control:-moz-placeholder
{
  color: #dfdfdf;
  opacity: 1;
}
.modal-content.login-box-green .form-control::-webkit-input-placeholder
{
  color: #dfdfdf;
  opacity: 1;
}
.modal-content.login-box-green .form-control:-ms-input-placeholder
{
  color: #dfdfdf;
  opacity: 1;
}
.modal-content.login-box-green .modal-header .close {
  margin-top: -15px;
}
.modal-content.login-box-green .close {
  color: #fff;
  font-size: 31px;
  font-weight: lighter;
  opacity: 1;
}
.modal-content.login-box-green .form-control:focus {
  border-color: #fff; /* green */
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #fff;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #fff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #fff;
}

.modal-content.login-box-green a{
  color: #fff;
}
.banner-center .stars {
  color: #F39C12;
}
.banner-center a.login {
  color: #F39C12;
  font-size: 22px;
}
.banner-center a.login:hover {
  border-bottom:solid #F39C12 2px;
  text-decoration: none;
}

@media
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  /* Styles */
  .banner-center {
    padding-top: 150px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
  /* Styles */
  .banner-center {
    padding-top: 150px;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  /* Styles */
  .banner-center {
    padding-top: 150px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  /* Styles */
  .banner-center {
    padding-top: 200px;
  }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  /* Styles */
  .banner-center {
    padding-top: 200px;
  }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  /* Styles */
  .banner-center {
    padding-top: 200px;
  }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  /* Styles */
  .banner-center {
    padding-top: 200px;
  }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  /* Styles */
  .banner-center {
    padding-top: 200px;
  }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
  .banner-center {
    padding-top: 100px;
  }
}
